* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 576px) {
  .h-sm-100 {
    height: 100%;
  }
}


#content {
  background-color: #f0f0f0;
}

.nav-item {
  border-radius: 6px;
}



.li-currentlink {
  background-color: #00402f !important;
  transition: all 0.4s ease-in-out !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #00402f !important;
  color: white !important;
}

.nav {
  --bs-nav-link-hover-color: black !important;
}
.nav>.nav-link{

}
a {
  text-decoration: none !important;

}

.nav-link {
  color: white !important;
}

.ql-container {
  min-height: 10em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

#navbar {
  min-width: 160px;
}

.ql-editor p img {
  position: relative;
  width: 10%;
}
.project {
  background-color: #00402f !important;
}
